


body{
	font-family: arial;
	padding-left: 250px;
}
nav{
	padding:20px 0 0 10px;
	/*background-color: red;*/
	width: 200px;
	position: fixed;
	left: 15px;
}
	nav ul {
	list-style: none;
	padding-left: 0;
}
nav li a{
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #e5005f;
	color: white;
	margin:2px 0px;
	padding: 5px 10px;
	font-size: x-large;
}
nav li a:hover,#active{
	background-color:#333;
}

nav > a {
	display: block;
	text-decoration: none;
	color: #333;
	text-transform: uppercase;
	margin-bottom: 10px;
	font-weight: bold;
	/*background-color: blue;*/
}
/*nav ul ~ a{
	display:block;
}
another way to approach a items after ul in navbar*/

nav > a:hover{
	color:#e5005f;
}

main aside p{
	background-color:#eee;
	padding: 10px;

}

main{
	width: 49%;
	background-color: orange;
	float: left;
}

hr{
	border:none;
	border-top:1px solid #ddd;
}
article img{
	max-width: 100%;
}

.related div{
	/*background-color:red;*/
	width:240px;
	text-align: center;

}

.related:after{
	content: '';
	display: block;
	clear: both;
}

article div:nth-of-type(1){
	float: left;
	margin-left: 65px;
}
article div:nth-of-type(2){
	float: right;
	margin-right: 65px;
}

.related img{
	border-radius: 50%;
}
.related div a{
	background-color: #e5005f;
	text-decoration: none;
	display: block;
	padding: 10px;
	color: white;
	text-transform: uppercase;
	margin-top: -30px;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#scroll-left,
#scroll-right{
	font-size: 24px;
	border:none;
	background-color: transparent;
	cursor: pointer;
	color: #e5005f;
	
}
#scroll-left{
	position: absolute;
	left: 0;
	top: 40%;
}

.related{
	position: relative;

}

#scroll-right{
	position: absolute;
	right: 0;
	top: 40%;
}

.related h1{
	background-color: white;
	width: 15%;
	text-align: center;
	margin:0 auto;
	position: relative;
	z-index: 2;
}
.related hr{
	position: relative;
	top: -20px;
}

#extra{
	width: 49%;
	background-color:#eee;
	float: right;
}

#social{
	background-color:#e5005f;
	padding:40px;
	color:white;
	text-align: right;
}
#social a{
	color: inherit;
}

#newsletter p{
		/*background-color:pink;*/
		text-align: right;
		padding-right: 80px;
		font-weight: bold;
}

#newsletter{
		background-color: #ddd;
		padding: 20px 0;
		background-image: url(../img/envelope2.png);
		background-repeat:no-repeat;
		background-position:35px center;
}
#newsletter a {
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	background-color:#e5005f;
	padding: 10px;
}
#newsletter a:hover{
	background-color: #333;
}

#left{
	width: 50%;
	float: left;
	padding-right:20px;
	box-sizing: border-box;
	padding-left:18px;
}
#right{
	width: 50%;
	float: right;
	padding-left: 15px;
	box-sizing: border-box;
	padding-right: 15px;
}

#extra section>h1{
	text-transform: uppercase;
	font-size: 18px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}
#comments img{
	float: left;
	margin-right:10px;
}
#comments a{
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
#comments a:hover{
	color: #111;
	text-decoration: underline;
}
#comments article>a{
	color:#e5005f;
	text-decoration: none;
}

#extra section{
	margin-bottom: 40px;
}
#top-5 img{
	float: left;
	margin-right: 10px;
}
#top-5 a{
	font-size: 16px;
	color:#333;
	text-decoration:none;
}
#top-5 article{
	border-bottom: 1px dashed #ddd;
	padding-bottom: 10px;
}
#top-5 article:after{
	content: '';
	display: block;
	clear: both;
}

#sponsors img{
	width:30%;
	float:left;
	padding: 6px;
	box-sizing: border-box;
	border: 1px solid #ddd;
	margin: 6px;
}

#property h1 span{
	color: #777;
	display: block;
	font-size: 16px;
	text-transform:lowercase;
}
#property h1{
	/*border:1px solid #eee;*/
}

#property img{
	float: left;
	margin-right: 10px;
}
#property a{
	font-size: 16px;
	color:#333;
	text-decoration:none;
}
#property article{
	/*border-bottom: 1px dashed #ddd;*/
	padding-bottom: 10px;
}
#property article:after{
	content: '';
	display: block;
	clear: both;
}

#property h1 span{
	font-size: 14px;
}
#property h1:hover{
	text-decoration: underline;
}

#bayleys{
	background-color: white;
	border:2px solid #333;
	padding: 8px;
	box-sizing: border-box;
}
#property hr{
	border:1px solid #333;
}
